@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Sofia+Sans:wght@300&display=swap');

*,*::after,*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Sofia Sans",serif;
  font-size: 1rem;
  font-weight:600;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 1200px;
}
#nav-bar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  height: 64px;
  z-index: 12;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.nav-links {
  order: 2;
  display: flex;
}
.nav-links li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}
.nav-links a:active{
  color: #117964;
}
.logo {
  order: 1;
  height:50px;
}
section {
    text-align: center;
    padding: 40px 0px;
}
.showcase-area {
  height: 50vh;
  background:url(https://d1ymz67w5raq8g.cloudfront.net/Pictures/1024x536/0/4/7/511047_meltedchocolatepouredonchocolatepieces_shutterstock_1012921762_902139.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
  font-family:"Aclonica",serif;
  font-weight:700;
  color:white;
}
.main-title {
  margin-top: 1.5em;
}
#about,#features,.email {
  padding: 50px 0;
  background: #f5f5f7;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
h2 {
  font-size: 2.3rem;
  margin:5px;
}
p {
  font-size: 1.2rem;
  color: #555;
  margin:0px 10px;
  padding: 10px 0px;
}
.about-text,.making-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
}
.media {
  flex: 1 1 400px;
  padding: 30px;
}
.media img ,#video{
  display: block;
  height: 300px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}
.making-text{
  order:1;
}
.feature, .product{
    width: 32%;
    display: inline-block;
    padding: 20px 0px;
}
.feature img {
  padding: 20px 0px;
    width: 40%;
}
.product img{
  width:90%;
  height: 10rem;
}
.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}
.form-container input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
  background-color: white;
  font-family:"Sofia Sans",sans-serif;
}
#submit{
  width:50%;
  border-radius:20px;
  color:white;
  background:#353535;
}
footer {
    background: #353535;
    padding: 32px 0;
    text-align: center;
    color: #868686;
    font-size: 1rem;
}
@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.125rem;
    }
    p{
      font-size: 0.95rem;
    }
    section {
        padding: 25px 0 15px 0;
    } 
    .feature,.product {
        width: 100%;
        text-align: left;
        margin: 0 0 10px 0;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .feature img {
        width: 15%;
        min-width: 60px;
        margin-right: 20px;
    }
    footer {
        padding: 30px 0 10px 0;
    }
}